REACT_APP_INFURA_ID=cfd2a658b39e4ea7b4a76a324416a9f6
REACT_APP_ALCHEMY_API_ID=FgjXQZWXW15Q7rUD-pdVyiYFTNckjzTn
REACT_APP_ETHERSCAN_API_KEY=GFFIGS1CXV9UBDCW95GMYVURSJ8IJTPK2Y

ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1
